/*1 Général*/
/*2 Header*/
/*3 Section 1 : Accueil*/

/* 1 ------------------------------ Général ------------------------------ */

@font-face {/*Police roboto*/
    font-family: 'robotoregular';
    src: url('fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot');
    src: url('fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff2') format('woff2'),
         url('fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff'),
         url('fonts/roboto_regular_macroman/Roboto-Regular-webfont.ttf') format('truetype'),
         url('fonts/roboto_regular_macroman/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

a:link /*Retirer la sous ligne des liens*/
{
    text-decoration: none;
    
}

body /*Police-*/
{
    font-family: 'robotoregular', Verdana, Georgia, Arial, sans-serif;
}

body 
{
    padding: 0;
    margin: 0;
    font-size: 1em;
}

header 

{
    z-index: 3;
}

ul /*j'ai enlevé les puces-*/
{
    list-style-type: none;
}


/* Header -*/
#logo_menu1 /*Le logo !*/
{
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    max-width: 100%;
    top: 0px;
    padding: 10px;
    z-index: 10;
    background-color: white;
    box-shadow: 0px 0px 4px 0px #656563;
}

#menu1 /*Le menu de navig*/
{
    display: flex;

}

.ul1 /*La list du menu nav*/
{
    display: flex;
    list-style-type: none;

}

.ul1 .a1 /*La liste du menu nav et les liens*/
{
    display: flex;
    text-decoration: none;
    padding: 15px 10px 10px 10px;
}

.a1:hover /*Lien du menu en survol*/
{
    border-top: 2px #5CADD3 solid;
    text-decoration: none;    
}

.a1:visited 
{
    color: #595959;
}


/* 3 ----- Section 1 : Accueil -------- */
#slides /*La mise en place du slider*/
{
    position: relative;
    margin-top: 65px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}


.slide .caption /*slider caption slogan*/
{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    max-width: 42%;
    height: 100%;
    padding-left: 9%;
}

.slide img /*slider image*/
{
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
    border-image-width: 100em;
}

.slide .caption .slogan /*slider slogan*/
{
    display: inline;
    margin-bottom: 1;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.6em;
    font-size: 2.4vw;
    line-height: 1em;
    color: white;
    
}

.sub_slogan, #services
{
    color: white;
}
.a2:visited
{
    color: white;
}
#services
{
    border: cornflowerblue;
}

em
{
    color: #5CADD3;
    font-style: inherit;
}

section
{
    color: black;
}

.info
{   font-weight: bold;
    font-size: 1,4em;
    font-size: 0.9vw;
    border: 3px #5CADd3 solid;
    background-color: #5CADd3;
    box-shadow: #4494BB 0px 2px 0px;
    margin-left: 3px;
    border-radius: 3px 3px 3px;
    padding: 10px 10px 10px;
}

.interrobang

{
    margin-left: 6px;
}

/*Section 2 : Services*/

h2 
{
    text-align: center;
    justify-content: center;
    font-size: 2.6vw;
}
 